<article class="art6">
    <h2 class="adress">Adress</h2>
    <ul>
        <li>Origovägen 4</li>
        <li>IT-Gymnasiet Göteborg</li>
        <li>Karl Ny</li>
    </ul>
</article>

<div id="map" class="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCxkdz8SM0pNyZL3waYKrJbfLsR-dZ-Z8&callback=myMap"></script>

<img src="img/itgymnasiet.jpg" alt="bild" class="infobild"></img>