<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"  href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/css.css">
    <title>Läran om DNA</title>
    <script src="js/js.js" ></script>
</head>
<body>
    
    <div class="container">
        
        <header>
            <div class="titel">
                <p>Lär dig om DNA</p>
            </div>
            <div class="dnagif">
                <img src="img/dnagif.gif" alt="dnagif" style="width:75px;height:124px;">
            </div>
        </header>

        <nav>
        <i class="material-icons" style="color:white;">menu</i>
            <div class="menu" onclick="toggleMenu()">
                <i class="fa fa-arrow-circle-down" style="font-size:24px;color:white; margin: auto;" ></i>
            </div>
                <div class="bar">
                     <p class="menutitle">Sidor du kan använda dig av för mer fakta</p>    
                
                    <div class="menutext">
                        <li>
                            <a href="http://ehinger.nu/undervisning/">Ehinger.nu</a>
                        </li>
                    </div>
                    <div class="menutext">
                        <li>
                            <a href="http://kemi2-dennis.weebly.com/biokemi.html">Genetik.nu</a>
                        </li>
                    </div>
                    <div class="menutext">
                        <li>
                            <a href="https://genteknik.nu/dna/">Kemi 2 med Dennis</a>
                        </li>
                    </div>
                </div>


                <div class="hem">
                    <a href="index.html">Hem <i class="fa fa-home" style="font-size:24px"></i></a>
                </div>
                
                <div class="videos">
                    <a href="video.html">Videogenomgångar <i class="fa fa-youtube-play" style="font-size:24px"></i></a>
                </div>
                
                <div class="info">
                    <a href="info.html">Information <i class="fa fa-file-text-o" style="font-size:24px"></i></a>
                </div>
            

            <div class="menu2" onclick="toggleMenumobile()">
            </div>
            
        </nav>

            <div class="bar2">
                <div class="hem2">
                    <a href="index.html">Hem <i class="fa fa-home" style="font-size:24px"></i></a>
                </div>
            
                <div class="videos2">
                    <a href="video.html">Videogenomgångar <i class="fa fa-youtube-play" style="font-size:24px"></i></a>
                </div>
            
                <div class="info2">
                    <a href="info.html">Information <i class="fa fa-file-text-o" style="font-size:24px"></i></a>
                </div>

                <p class="menutitle">Sidor du kan använda dig av för mer fakta</p>    
                
                    <div class="menutext">
                        <li>
                            <a href="http://ehinger.nu/undervisning/">Ehinger.nu</a>
                        </li>
                    </div>
                    <div class="menutext">
                        <li>
                            <a href="http://kemi2-dennis.weebly.com/biokemi.html">Genetik.nu</a>
                        </li>
                    </div>
                    <div class="menutext">
                        <li>
                            <a href="https://genteknik.nu/dna/">Kemi 2 med Dennis</a>
                        </li>
                    </div>
            </div>
        
        
        <main>
            <%= yield %>
        </main>

        <footer>
            <p>Karl Ny, IT-Gymnasiet Göteborg</p>
        </footer>

    </div>
</body>

</html>