<article class="art2">
    <div class="vidtitel1">
        <h2>DNA-molekylens struktur</h2>
    </div>  

    <div class="film1">
        <iframe src="https://www.youtube.com/embed/3Beb1QJaKhU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen width="210" height="85"></iframe>
    </div>
</article>

<article class="art3">
    <div class="vidtitel2">
        <h2>Transkription</h2>
    </div>  

    <div class="film2">
        <iframe src="https://www.youtube.com/embed/0dhg1bwtyIY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen width="210" height="85"></iframe>
    </div>
</article>

<article class="art4">
    <div class="vidtitel3">
        <h2>Translation</h2>
    </div>  

    <div class="film3">
        <iframe src="https://www.youtube.com/embed/BsChDDLz8aU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen width="210" height="85"></iframe>
    </div>
</article>

<article class="art5">
    <div class="vidtitel4">
        <h2>Replikation</h2>
    </div>  

    <div class="film4">
        <iframe src="https://www.youtube.com/embed/Jur0Wh4HouQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen width="210" height="85"></iframe>
    </div>
</article>