.container{
    height: 768px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);
    display: grid;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    background-color: rgb(104, 102, 102);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    grid-column: 1 / 11;
    grid-row: 1 / 3;
    display: grid;
    color: white;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: rgb(43, 42, 42);
    z-index: +2; 
}

.titel{
    grid-column: 2 / 7;
    grid-row: 1 / 3;
    font-size: 370%;
    display: grid;
    align-content: center;  
}

.dnagif{
    grid-column: 9 / 10;
    display: grid;
    justify-content: center;
}

nav{
    grid-column: 1 / 11;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 4px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
    z-index: +2; 

}

.menu{
    grid-column: 1 / 2;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    display: grid;
    position: relative;
    background-color: rgb(43, 42, 42);
}


.menu:hover{
    grid-column: 1 / 2;
    align-content: center;
    justify-content: center;
    background-color: turquoise;
    transition: 1s;
}

.menutext{
    color: white;
}

.menutext:hover{
    background-color: turquoise;
    transition: 1s;
}

.bar{
    position: absolute;  
    z-index: +1;
    transition: 1s;
    background-color: rgb(43, 42, 42);
    margin-top: 65px;
    padding: 10px;
    opacity: 0;
}

li{
    list-style-type: none;
    font-size: 80%;
}

.menutitle{
    font-size: 90%;
    color: white;
}

.show{
    display: block;
}

.animation {
    opacity: 1;
}


.hem{
    grid-column: 2 / 5;
    text-align: center;
    background-color: rgb(43, 42, 42);  
    display: grid;
    align-content: center; 
}

.hem:hover{
    grid-column: 2 / 5;
    text-align: center;
    background-color: turquoise;   
    transition: 1s;
}

.videos{
    grid-column: 5 / 8;
    text-align: center;
    background-color: rgb(43, 42, 42);
    display: grid;
    align-content: center; 
    
}

.videos:hover{
    grid-column: 5 / 8;
    text-align: center;
    background-color: turquoise;
    transition: 1s;
}

.info{
    grid-column: 8 / 11;
    text-align: center;
    background-color: rgb(43, 42, 42);
    display: grid;
    align-content: center; 
}

.info:hover{
    grid-column: 8 / 11;
    text-align: center;
    background-color: turquoise;
    transition: 1s;
}

a{
    text-decoration: none;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    grid-column: 1 / 11;
    grid-row: 4 / 12;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 4px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%; 
}

footer{
    grid-column: 1 / 11;
    grid-row: 12 / 13;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 4px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    background-color: grey;
    text-align: center;
    color: rgb(43, 42, 42);
}

.art1{
    grid-column: 2 / 6;
    grid-row: 2 / 8;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: grey;
    color: white;
}

.index_rubrik{
    text-align: center;
}

.index_brod{
    padding-left: 2%;
    padding-right: 2%;
}

.indexbild{
    grid-column: 7 / 10;
    grid-row: 2 / 8;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: grey;
}

.vidtitel1{
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    color: white;
    text-align: center;
    padding-right: 5%;
}

.film1{
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    padding-left: 8%;
}

.vidtitel2{
    grid-column: 7 / 10;
    grid-row: 1 / 2;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    color: white;
    text-align: center;
    padding-right: 5%;
}

.film2{
    grid-column: 7 / 10;
    grid-row: 2 / 5;
    padding-left: 8%;
}

.vidtitel3{
    grid-column: 2 / 5;
    grid-row: 5 / 6;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    color: white;
    text-align: center;
    padding-right: 5%;
}

.film3{
    grid-column: 2 / 5;
    grid-row: 6 / 9;
    padding-left: 8%;
}


.vidtitel4{
    grid-column: 7 / 10;
    grid-row: 5 / 6;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    color: white;
    text-align: center;
    padding-right: 5%;
}

.film4{
    grid-column: 7 / 10;
    grid-row: 6 / 9;
    padding-left: 8%;
}

.art2{
    grid-column: 2 / 5;
    grid-row: 1 / 5;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.art3{
    grid-column: 7 / 10;
    grid-row: 1 / 5;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.art4{
    grid-column: 2 / 5;
    grid-row: 5 / 8;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.art5{
    grid-column: 7 / 10;
    grid-row: 5 / 8;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.art6{
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: grey;
    font-size: 120%;
    color: white;
}

.map{
    grid-column: 7 / 10;
    grid-row: 2 / 8;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: grey;
}

.infobild1{
    grid-column: 2 / 5;
    grid-row: 6 / 8;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: grey;
}

.adress{
    text-align: center;
}

.menu2{ 
    display: none;
}

.indexbild2{
    display: none;
}

.bg-origovägen {
    width: 177px; height: 127px;
    background: url('css_sprites.png') -4px -4px;
}

.bg-it_gymnasiet {
    width: 127px; height: 127px;
    background: url('css_sprites.png') -189px -4px;
}

.infobild2{
    display: none;
}










@media only screen and (max-device-width: 670px){
    .container{
        width: 100vw;
        height: 100vh;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(17, 1fr); 
        padding: 0%;
        margin: 0%;
    }

    header{
        grid-column: 1 / 6;
        grid-row: 1 / 3;
        display: grid;
        color: white;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        background-color: rgb(43, 42, 42);
        z-index: +2; 
    }
    
    .titel{
        grid-column: 1 / 5;
        grid-row: 1 / 3;
        font-size: 170%;
        display: grid;
        align-content: center; 
        padding-left: 5%; 
    }

    .dnagif{
        grid-column: 5 / 6;
        display: grid;
        justify-content: center;
        display: none;
    }
    
    nav{
        grid-column: 6 / 7;
        grid-row: 1 / 3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 150%;
        column-gap: 0px;
        z-index: +2; 
        background-color: rgb(43, 42, 42);
    }
    
    .menu{
        grid-column: 1 / 2;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        display: grid;
        position: relative;
        background-color: rgb(43, 42, 42);
        display: none;

    }

    .menu2 {
        display: absolute;
        width: 100%;
        height: 100%;
        grid-column: 1 / 2;
    }
    
    .menu:hover{
        /* grid-column: 1 / 2;
        align-content: center;
        justify-content: center;
        background-color: turquoise;
        transition: 1s; */
        /* display: none; */

    }
    
    .menutext{
        color: white;
        display: none;

    }
    
    /* .menutext:hover{
        background-color: turquoise;
        transition: 1s ;
        display: none;

    } */
    
    
    /* .bar{
        position: absolute;  
        z-index: +1;
        transition: 1s;
        background-color: rgb(43, 42, 42);
        margin-top: 65px;
        padding: 10px;
        opacity: 0;
        display: none;

    } */
    
    li{
        list-style-type: none;
        font-size: 80%;
        display: none;

    }
    
    .menutitle{
        font-size: 90%;
        color: white;
        display: none;

    }
    
    .show{
        display: block;
        display: none;

    }
    
    .animation {
        opacity: 1;
        display: none;
    }
     
    .hem{
        grid-column: 2 / 5;
        text-align: center;
        background-color: rgb(43, 42, 42);  
        display: grid;
        align-content: center; 
        display: none;

    }
    
    /* .hem:hover{
        grid-column: 2 / 5;
        text-align: center;
        background-color: turquoise;   
        transition: 1s;
        display: none;

    } */
    
    /* .videos{
        grid-column: 5 / 8;
        text-align: center;
        background-color: rgb(43, 42, 42);
        display: grid;
        align-content: center;
        display: none;

        
    } */
    
    /* .videos:hover{
        grid-column: 5 / 8;
        text-align: center;
        background-color: turquoise;
        transition: 1s;
        display: none;

    } */
    
    /* .info{
        grid-column: 8 / 11;
        text-align: center;
        background-color: rgb(43, 42, 42);
        display: grid;
        align-content: center;
        display: none;
 
    } */
    
    /* .info:hover{
        grid-column: 8 / 11;
        text-align: center;
        background-color: turquoise;
        transition: 1s;
        display: none;

    } */
    
    a{
        text-decoration: none;
        color: white;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        display: none;

    }
    
    main{
        grid-column: 1 / 7;
        grid-row: 3 / 17;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(14, 1fr);
        grid-column-gap: 4px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 100%; 
        /* display: none; */
        
    }
    
    footer{
        grid-column: 1 / 7;
        grid-row: 17 / 18;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 4px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 100%;
        background-color: grey;
        text-align: center;
        color: rgb(43, 42, 42);
    }
    
    .art1{
        grid-column: 2 / 6;
        grid-row: 2 / 7;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        background-color: grey;
        color: white;
    }
    
    .index_rubrik{
        text-align: center;
        font-size: 100%;
    }
    
    .index_brod{
        padding-left: 2%;
        padding-right: 2%;
        font-size: 55%;

    }
    
    .indexbild{
        grid-column: 2 / 6;
        grid-row: 8 / 16; 
        display: none;
    }

    .indexbild2{
        grid-column: 2 / 6;
        grid-row: 8 / 14;
        display: grid;
        background-color: grey;
        justify-content: center;
    }

    .art2{
        grid-column: 2 / 6;
        grid-row: 1 / 4;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    
    .art3{
        grid-column: 2 / 6;
        grid-row: 4 / 7;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    
    .art4{
        grid-column: 2 / 6;
        grid-row: 7 / 10;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    
    .art5{
        grid-column: 2 / 6;
        grid-row: 10 / 13;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    
    .vidtitel1{
        grid-column: 1 / 6;
        grid-row: 1 / 2;
        font-size: 60%;
        color: white;
        text-align: center;

    }
    
    .film1{
        grid-column: 1 / 6;
        grid-row: 2 / 4;
    }
    
    .vidtitel2{
        grid-column: 1 / 6;
        grid-row: 4 / 5;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        color: white;
        font-size: 60%;
        text-align: center;
    }
    
    .film2{
        grid-column: 2 / 4;
        grid-row: 5 / 7;
    }
    
    .vidtitel3{
        grid-column: 1 / 6;
        grid-row: 7 / 8;
        font-size: 60%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        color: white;
        text-align: center;
    }
    
    .film3{
        grid-column: 2 / 4;
        grid-row: 8 / 10;
    }
    
    .vidtitel4{
        grid-column: 1 / 6;
        grid-row: 5 / 6;
        font-size: 60%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        color: white;
        text-align: center;
    }
    
    .film4{
        grid-column: 2 / 6;
        grid-row: 6 / 9;
    }

    .art6{
        grid-column: 2 / 6;
        grid-row: 2 / 6;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        background-color: grey;
        font-size: 120%;
        color: white;
    }
    
    .map{
        grid-column: 2 / 6;
        grid-row: 11 / 14;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        background-color: grey;
    }
    
    .infobild1{
        display: none;
    }

    .bg-it_gymnasiet2 {
        width: 114px; height: 114px;
        background: url('mobilespritesheet.png') -134px -0;
    }

    .bg-origovägen2 {
        width: 134px; height: 114px;
        background: url('mobilespritesheet.png') -0 -0;
    }

    .infobild2{
        grid-column: 2 / 6;
        grid-row: 7 / 10;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        background-color: grey;
    }


    

    

    









}

